<%= include_gon %>

<p id="notice"><%= notice %></p>
<div id='app'>
  <div id='header'>
    <div>
      <%= link_to root_path do %>
        <h1>Blog</h1>
      <% end %>
    </div>
    <label>View posts</label>
    <label class="switch">
      <input type="checkbox" id='panelToggle'>
      <span class="slider round"></span>
    </label>
    <label>View graph</label>
  </div>

 
  <div class='panelWrapper app-body'>
    
    
    <div id='text-posts' class='text-block-container' data-selected='none'>
      <% @blog_posts.each do |blog_post|%>
        <%= render partial: 'blog_post', locals: { blog_post: blog_post, text_block_path: edit_blog_post_path(blog_post) }%>
      <% end %>
    </div>
    <div id='cy' class='panel' data-enter='slideleft' data-exit='slideright'></div>
  </div>

</div>

<%= link_to 'New Blog Post', new_blog_post_path %>

