<%= include_gon %>

<p id="notice"><%= notice %></p>

<div class='text-block-container' data-selected='none'>
  <%= render @blog_post%>
</div>

<% unless @related_posts.nil?%>
  <% @related_posts.each do |related_post| %>
    <% unless related_post.nil? %>
      <%= link_to related_post.name, blog_post_path(related_post) %>
    <% end %>
  <% end %>
<% end %>



<div id='cy'></div>
<%= javascript_pack_tag 'edit_mode' %>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
