<%= include_gon %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog_post.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= render 'body', body: @markdown_body %>
</p>

<% @related_posts.each do |related_post| %>
  <%= link_to related_post.name, blog_post_path(related_post) %>
<% end %>



<div id='cy'></div>
<%= javascript_pack_tag 'mini_graph' %>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
